
<%= link_to 'Home', root_path, class: "my-link-class" %>
<div class="">
	<%= image_tag("solecillo.gif", :alt => "sun", :class => "img-sun")  %> 
</div>
<div class="textabout">
<h1>Hello there!<h1>
<p>Good Morning is a happy App made so you can start your day with a big smile on your face, or tweet a happy good morning phrase to someone you know, love or have a crush on.</p>

<p>Good Morning was built on Ruby On Rails, HTML, CSS, Git/Github, Heroku, markers and Adobe Illustrator.</p>

<p>By <a href="http://lilamiller.me" target=_blank> Lila Miller</a></p>
</div>

<a href="http://lilamiller.me" target=_blank class="name-tag"> by Lila Miller </a>

