
<div class="">
	<%= image_tag("solecillo.gif", :alt => "sun", :class => "img-sun")  %> 
</div>

<%= link_to "GOOD MORNING!", random_phrase, class: "big-button" %>

<div class="name-tag">
	<a href="http://lilamiller.me" target=_blank class="name-tag"> by Lila Miller </a>
</div>
