
<div class="img-sun">
	<img src="https://33.media.tumblr.com/4b363bf46a743fd184ca6869a207e7da/tumblr_nejkiq1gKk1qbhb40o1_250.png" alt="Sun">
</div>

<%= link_to "BUENOS DÃAS", phrase_path(rand(11..47)), class: "big-button" %>

<div class="name-tag">
	<a href="http://twitter.com/lilamiller" target=_blank class="name-tag"> by Lila Miller </a>
</div>
